<div>
  <h2>Grocery List</h2>

  <ul>
    <!-- * structural directive *ngFor -->
    <li *ngFor="let item of groceryList.sort()">
      {{ item }}
    </li>
  </ul>

  <!-- * structural directive *ngIf -->
  <p *ngIf="groceryItem">You would like to add "{{ groceryItem }}"</p>
  <p *ngIf="!groceryItem">Please enter a fruit name</p>
</div>
<div>
	<!-- * Attribute directive "ngModel" -->
  <!-- <input (input)="handleGroceryItemChange($event)" /> -->
	
  <input [(ngModel)]="groceryItem" />

  <!-- * Attribute directive "ngStyle" -->
  <!-- <button style="background-color: black; color: white">
    Add
	</button> -->

  <button
    [ngStyle]="{
      'background-color': addButtonColor,
      color: 'white',
    }"
  >
    Add
  </button>

  <!-- * Attribute directive "ngClass" -->
  <!-- <button class="button-primary button-disabled">
		Add (Function)
	</button> -->

  <button
    [ngClass]="{
			'button-primary': isPrimary,
			'button-disabled': isDisabled,
		}"
  >
    Add (Function)
  </button>
</div>
