<div>
	<h2>Grocery List</h2>
	<!-- <div [innerHTML]="groceryListTitleFromModel"></div> -->

  <ul>
    <li *ngFor="let item of groceryList.sort()">
      <!-- * String interpolation -->
      {{ item }}
    </li>
  </ul>

  <p *ngIf="groceryItem">
    <!-- * String interpolation + Pipes -->
    You would like to add "{{ groceryItem | uppercase | slice : 0 : 3 }}"
  </p>
  <p *ngIf="!groceryItem">Please enter a fruit name</p>
</div>
<div>
  <!-- * Property binding -->
  <!-- <input value="apple" (input)="handleGroceryItemChange($event)" /> -->
  <input [value]="groceryItem" (input)="handleGroceryItemChange($event)" />

  <!-- * Two-way data binding -->
  <!-- <input [(ngModel)]="groceryItem" /> -->

  <!-- * Event binding -->
  <button
    (click)="handleAddFruit()"
    [ngStyle]="{
			'background-color': addButtonColor,
			color: 'white',
    }"
  >
    Add
  </button>

  <button
    (click)="handleAddFruitName(groceryItem)"
    [ngClass]="{
			'button-primary': isPrimary,
			'button-disabled': isDisabled,
		}"
  >
    Add (Function)
  </button>
</div>
